{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": ["prettier"],
  "plugins": ["prettier", "unused-imports"],
  "rules": {
    "prettier/prettier": "error",
    "unused-imports/no-unused-imports": "error"
  }
}
